body{
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.pal{
    width: 40rem;
    background-color: white;
    padding: 5rem 3rem;
    border-radius: 5px;
}
input, button{
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
}
input{
    width: 70%;
    border-bottom: 2px solid rgb(79, 79, 147);
    margin-bottom: 20px;
}
button {
    width: 25%; 
    background:rgb(79, 79, 147);
    color: white;  
    border-radius: 3px;
}